<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Displaying all Cryptos prices</title>
</head>
<body>
    <div class="container">
        <h2>Search</h2>
        <label>Cryptocurrency</label>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">price</th>
            </tr>
            </thead>
            <tbody ng-repeat="(index, crypto) in allCryptos">
            <th>{{index+1}}</th>
            <th>{{crypto.id}}</th>
            <th>{{crypto.price_usd}}</th>

            </tbody>
        </table>
        </div>
    </div>
</body>
</html>