<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input  class="form-control bg-dark text-white" placeholder="search" ng-model="cryptoId"/>
            <button class="btn btn-primary invisible"  ng-click="model.search(cryptoId)">Search</button>

        </form>
        <li class="nav-link">
            <a class="nav-link"  href="#!SignIn">Sign In</a>
        </li>
        <li class="nav-link">
            <a class="nav-link"  href="#!SignUp">Sign Up</a>
        </li>
    </div>
</nav>

<div class="container">
    <!--<h2>Search</h2>-->
    <table class="table table-hover invisible">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Market Cap</th>
            <th scope=""col>Price</th>
            <!--<th scope=""col>Volume(24h)</th>-->
            <th scope=""col>Circulating Supply</th>
            <th scope=""col>Change(24h)</th>
        </tr>
        </thead>
        <tbody ng-repeat="(index, crypto) in allCryptos">
        <td>{{index+1}}</td>
        <td>{{crypto.id}}</td>
        <td>{{crypto.market_cap_usd}}</td>
        <td>{{crypto.price_usd}}</td>
        <!--<td>{{crypto.24h_volume_usd}}</td>-->
        <td>{{crypto.available_supply}}</td>
        <td>{{crypto.percent_change_24h}}</td>
        </tbody>
    </table>
</div>

<div class="align-content-md-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <label for="firstName">First Name</label>
        <input id="firstName" ng-model="firstName" class="form-control" placeholder="Alice" required="" autofocus="" type="text">
        <label for="lastName">Last Name</label>
        <input id="lastName" ng-model="lastName" class="form-control" placeholder="Wonderland" required="" autofocus="" type="text">
        <label for="inputEmail">Email address</label>
        <input id="inputEmail" ng-model="inputEmail" class="form-control" placeholder="alice@gmail.com" required="" autofocus="" type="email">
        <label for="inputPassword">Password</label>
        <input id="inputPassword" ng-model="inputPassword" class="form-control" placeholder="alice" required="" type="password">
        <div class="checkbox mb-3">
            <label>
                <input value="remember-me" type="checkbox"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="model.signUp(firstName, lastName, inputEmail, inputPassword)">Sign up</button>
    </form>
</div>