<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
    <!--<link href="templates/css/bootstrap_local.css" rel="stylesheet"/>-->
    <title>Search</title>
</head>
<body>
    <div class="container">
        <h2>Search</h2>
        <label>Cryptocurrency</label>
        <input  class="form-control" ng-model="cryptoId"/>
        <button class="btn btn-primary" ng-click="model.search(cryptoId)">Search</button>
        {{hello}}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">price</th>
                </tr>
            </thead>
            <tbody ng-repeat="(index, crypto) in allCryptos">
                <th>{{index+1}}</th>
                <th>{{crypto.id}}</th>
                <th>{{crypto.price_usd}}</th>

            </tbody>
        </table>
    </div>
</body>
</html>
