<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="templates/css/bootstrap_local.css" rel="stylesheet"/>

    <title>Details</title>
</head>
<body>
    <div class="container">
        <h2>{{model.searchItem}}</h2>
        <table>
            <tr>
                <td>
                    Batman
                </td>
            </tr>

            {{model.hello}}
        </table>
    </div>
</body>
</html>